@charset "utf-8";

body {
    font-family: "Helvetica Neue", Helvetica, 'Lucida Grande', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, Arial, verdana, sans-serif;
}
section h1 {
    font-size: 1.6em;
    margin-top: 1em;
}
section h2 {
    font-size: 1.6em;
    margin-top: 1em;
}
section h3 {
    font-size: 1.4em;
    margin-top: 1em;
}

main a {
    color: #006ad5;
}

.block {
    margin-bottom: 1em;
}

.container:after {
    display:inline;
}
img {
    width: auto;
}
.photo-wrap img {
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

@media all and (min-width: 481px) {
    .photo-wrap {
        margin-top: 1.5em;
        width: 280px;
        height: auto;
    }
}
@media all and (max-width: 480px) {
    .photo-wrap {
        margin-top: 1.5em;
        margin-left: auto;
        margin-right: auto;
        width: 280px;
        height: auto;
    }
    .container {
        padding: 0 1em;
    }
    .site-nav a {
        padding: 0 0;
    }
}

.header-bio {
    margin-top: 1em;
}
@media all and (min-width: 48em) {
    .header-bio {
        margin-top: 5em;
    }
}
.header-name {
    font-size: 1.8em;
    font-weight: bold;
}
.header-description a.btn {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.padding-left-zero {
    padding-left: 0;
}

.site-credits {
    text-align: center;
}

.site-credits-heart {
    color: #D32F2F;
}
