<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>寺田 晃太朗 / Kotaro Terada</title>
    <link rel="stylesheet" href="static/skyline/css/screen.css" />
    <link rel="stylesheet" href="static/style/style.css" />
    <link rel="stylesheet" href="https://afeld.github.io/emoji-css/emoji.css">
    <link rel="canonical" href="https://kotaroterada.jp/" />
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta name="description" content="Website of Kotaro Terada." />
    <meta name="keywords" content="Kotaro Terada,寺田晃太朗" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="寺田 晃太朗 / Kotaro Terada" />
    <meta property="og:url" content="https://kotaroterada.jp/" />
    <meta property="og:description" content="Website of Kotaro Terada." />
    <meta property="og:site_name" content="kotaroterada.jp" />
    <meta property="og:image" content="https://kotaroterada.jp/static/photo/photo_cube.jpg" />
  </head>
  <body>
    <div class="site">
      <header class="site-header" role="banner">
        <div class="container">
          <a class="branding" href="./">
            <h1 class="branding__wordmark">
              寺田 晃太朗 / Kotaro Terada
            </h1>
          </a>
        </div>
      </header>
      <main class="site-main" role="main">
        <section class="block--ends container">
          <p>
            <div class="container">
              <div class="gw">
                <div class="g md-one-half">
                  <div class="photo-wrap">
                    <img src="static/photo/photo_cube.jpg" width="280" height="280" />
                  </div>
                </div>
                <div class="g md-one-half padding-left-zero">
                  <div class="header-bio-top">
                    Website of
                  </div>
                  <div class="header-name">
                    寺田 晃太朗 / Kotaro Terada
                  </div>
                  <div class="header-description">
                    <a href="/bio" class="btn">
                      <i class="em em-bust_in_silhouette" aria-role="presentation" aria-label="BUST IN SILHOUETTE"></i>
                      Biography
                    </a>
                  </div>
                  <!--<div class="header-description">
                    <a href="/cv" class="btn">
                      <i class="em em-paperclip" aria-role="presentation" aria-label="PAPERCLIP"></i>
                      Curriculum Vitae
                    </a>
                  </div>-->
                </div>
              </div>
            </div>
          </p>
        </section>
      </main>
      <footer class="site-footer">
        <div class="container">
          <small class="site-credits">
            &copy; 2022 Kotaro Terada
          </small>
        </div>
      </footer>
    </div>
<style>
.site-header {
    background-image: url("./static/photo/pynq.jpg");
    background-position: center center;
    color: #ffffff;
    height: 100px;
}
</style>
  </body>
</html>
